# NB: copied from an enkore project because we are using fourtune here...

registry="https://registry.npmjs.org/"
@asint:registry="https://npm-registry.anio.software/"
@asint-types:registry="https://npm-registry.anio.software/"
//npm-registry.anio.software/:keyfile="./secrets/npm_client.pkey"
//npm-registry.anio.software/:certfile="./secrets/npm_client.cert"
